body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #25aed3;
}

.logform {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px 20px;
    gap: 10px;
    width: 300px;
    background-color: #717171;
    align-items: center;
    align-self: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.logstl {
    padding: 8px;
}

input {
    padding: 8px;
}

button {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 25px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 110px;
    align-self: center;
}

button:hover {
    background-color: #343434;
}

.navi {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
}

.navi:hover {
    color: #4338ca;
    text-decoration: underline;
    font-weight: 800;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333;
}


table {
    border-collapse: collapse;
    border-spacing: 10px;
    border-bottom: 1px solid #333;
}

td.delete a,
td.edit a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

td.delete a {
    background: #ff0000;
    color: white;
}

td.delete a:hover {
    background: #e60000;
}

td.edit a {
    background: #4da6ff;
    color: white;
}

td.edit a:hover {
    background: #1a8cff;
}

.green {
    display: block;
    padding: 6px 10px;
    text-align: center;
    background: #37ff00;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.green:hover {
    background: #28bb00;
}

.red {
    display: block;
    padding: 6px 10px;
    text-align: center;
    background: #ff0000;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.red:hover {
    background: #c70000;
}

.add {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
    width: 300px;
    background-color: rgba(44, 178, 255, 0.47);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    margin-bottom: 30px;
}

.ad {
    width: 200px;
    align-self: center;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.logout {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-color: #000000;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.logout:hover {
    background-color: #3a3a3a;
}
.user {
    position: fixed;
    top: 20px;
    right: 98px;
    display: inline-block;
    background-color: #000000;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.empty {
    color: rgb(0, 0, 0);
    font-style: italic;
}

.stats {
    position: sticky;
    top: 50px;
    background-color: #000000;
    color: white;
    padding: 10px 5px;
    margin-bottom: 15px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.80);
}

.stats span {
    margin-left: 45px;
    margin-right: 45px;
}

.title {
    top: 10px;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #222;
    letter-spacing: 1px;
    border-bottom: 3px solid #222;
    display: inline-block;
    padding-bottom: 5px;
}

.addd {
    position: fixed;
    text-align: center;
    top: 190px;
    left: 80px;
    background-color: #1fafd75e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    padding: 10px 20px;
    border-radius: 25px;
}